{% extends 'base.html' %}


{% block title %}
Счетчик
{% endblock %}

{% block content %}
<h1 class="display-4 text-center"> {{ calorie }} ккал</h1>
<h3 class="display-6 text-center">съедено</h3><br>
<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Завтрак</h4>
      </div>
      <div class="card-body">

        {% for info in breakfast_info %}
        <div class="alert alert-info text-left">
          <b>Продукт:</b> {{ info.name }} <br>
          <b>Энергия:</b> {{ info.energy }} ккал <br>
          <br>
          <input type="submit" name="delete" value="Удалить" class="mt-btn btn-danger"><br>
        </div>
        {% endfor %}

        <input type="submit" name="submit" class="btn btn-primary" value="Добавить"><br>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Обед</h4>
      </div>
      <div class="card-body">

        {% for info in lunch_info %}
        <div class="alert alert-info text-left">
          <b>Продукт:</b> {{ info.name }} <br>
          <b>Энергия:</b> {{ info.energy }} ккал <br>
          <br>
          <input type="submit" name="delete" value="Удалить" class="mt-btn btn-danger"><br>
        </div>
        {% endfor %}

        <input type="submit" name="submit" class="btn btn-primary" value="Добавить"><br>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Ужин</h4>
      </div>
      <div class="card-body">

        {% for info in dinner_info %}
        <div class="alert alert-info text-left">
          <b>Продукт:</b> {{ info.name }} <br>
          <b>Энергия:</b> {{ info.energy }} ккал <br>
          <br>
          <input type="submit" name="delete" value="Удалить" class="mt-btn btn-danger"><br>
        </div>
        {% endfor %}

        <input type="submit" name="submit" class="btn btn-primary" value="Добавить"><br>
      </div>
    </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h3>Всего:
        {% for info in breakfast_info %}

        {% endfor %}
      </h3>
    </div>
    <div class="col">
      <h3>Всего:</h3>
    </div>
    <div class="col">
      <h3>Всего:</h3>
    </div>
  </div>
</div>
{% endblock %}
