{% extends 'base.html' %}

{% block title %}
Библиотека
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-5 offset-1">
        <a href="{% url 'create_product' %}"><input type="submit" class="btn btn-primary" value="Добавить продукт"><br></a><br>
    </div>
    <div class="col-4 offset-1">
      <h1>Информация по продукту</h1>

      {% for info in all_info %}

        {% if error in info %}
          <div class="alert alert-info">
            {{ info.error }}<br>
          </div>
        {% else %}
          <div class="alert alert-info">
            <b>Продукт:</b> {{ info.name }}<br>
            <b>Энергия:</b> {{ info.energy }} ккал <br>
            <b>Белки:</b> {{ info.protein }} г<br>
            <b>Жиры:</b> {{ info.fat }} г<br>
            <b>Углеводы:</b> {{ info.carbohydrate }} г<br>
            <a href="{% url 'delete_product' info.id %}"><input type="submit" name="delete" value="Удалить" class="mt-btn btn-danger"><br></a>
          </div>
        {% endif %}

      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}
